
 @font-face {
  font-family: 'Roboto'; /* Имя шрифта */
  src: url(fonts/Roboto-Regular.woff) format("woff"),
       url(fonts/Roboto-Regular.ttf) format("ttf");   /* Путь к файлу со шрифтом */
       font-style: normal;
       font-weight: 400;
      }
@font-face {
  font-family: 'Roboto Slab'; /* Имя шрифта */
  src: url(fonts/RobotoSlab-Bold.woff) format("woff"),
       url(fonts/RobotoSlab-Bold.ttf) format("ttf");   /* Путь к файлу со шрифтом */
       font-style: normal;
       font-weight: var(--font-weight_700);
      }
@font-face {
  font-family: 'Roboto Slab'; /* Имя шрифта */
  src: url(fonts/RobotoSlab-SemiBold.woff) format("woff"),
       url(fonts/RobotoSlab-SemiBold.ttf) format("ttf");   /* Путь к файлу со шрифтом */
       font-style: normal;
       font-weight: var(--font-weight_600);
      }

      /*общие стили*/
      * {
        margin:0;
        padding:0;
        box-sizing: border-box;
      }
      :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
      }
      template {
        display: none;
      }
      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
      li {
        list-style-type:none;
        }

      a {
        text-decoration: none;
        background-color: transparent;
      }
        address {
        font-size:inherit;
        font-style:inherit;
        }
        button, a {
          cursor: pointer;
        }
        .visiality-hidden {
        visibility:hidden;
        margin:0;
        padding:0;
        height: 0;
        width: 0;
        }
        img, video {
          max-width:100%;
          height: auto;

          }
        ul {
          padding: 0;
          margin: 0;
        }
        h3 {
          text-align: center;
        }
/*стили html и body (прилипший футер)*/
.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  padding-top: 40px;
  border: 1px solid rgb(5, 5, 5);

}

.page-header, .page-main, .page-footer {
  width: 75%;
  margin:0 auto;

}
.mobil_img {
  display: none;
}
input[type='text']:focus {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 159, 227, 0.13) inset;
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 159, 227, 0.13) inset;
  box-shadow: 0px 0px 15px 0px rgba(0, 159, 227, 0.13) inset;
}
textarea:focus{
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 159, 227, 0.13) ;
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 159, 227, 0.13) ;
  box-shadow: 0px 0px 15px 0px rgba(0, 159, 227, 0.13) ;
}
.footer_logo {
  display: none;
}
/*стили header*/
.header-nav__toggle {
  display: none;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.header-nav {
  width:55%;
  height: 100%;
}

.header-nav__list {
  width:100%;
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  }
  .page-header__contact {
    height: 100%;
  }
.nav-list__item, .contact-list__item {
  display: flex;
  width:100%;
  height: 100%;


}
.nav-list__item a, .contact-list__item a{
  display: flex;
  height: 100%;
  width:100%;
justify-content: center;
align-items: center;


}
.nav-list__item:not(:last-of-type) {
  margin-right: 5%;
}


@media (max-width: 1280px) {

  .header-nav {
    width:70%;
  }
  .page-header__logo img {
    width: 100px;
    height: 37px;
  }
  .contact-list__item a span{
    display:none;
  }
  .contact-list__item a{
    position: relative;
    color:#009FE3;
  }

  .contact-list__item a::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(img/icon/twemoji_telephone-receiver.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 10px;
    animation: call 0.2s linear infinite;
  }
@keyframes call {
  from {transform: rotate(0deg) scale(1);

  }
  to {transform: rotate(20deg) scale(1);

  }
}


  }
  @media (max-width: 1024px) {
    .header-nav {
      width:75%;
    }
    .page-header__logo img {
      width: 77px;
      height: 28px;
    }

  }

@media (max-width:900px) {
  .page-header, .page-main, .page-footer {
    width: 90%;
    margin:0 auto;

  }

  .page__body {
    padding-top: 30px;
  }

}
@media (max-width: 660px) {
  .page__body {
    padding-top: 0;
  }
  .page-header {
    display: block;
    position:relative;
    background-color:#3C3C3B;
    padding-top: 20px;
    width:100%;

}
.header-nav__list {
  display:none;
}
.contact_list {
  display: none;
}
/*стиль навигации если не сработал js*/
.header-nav--nojs .header-nav__toggle {
  display: none;
}

.header-nav--nojs {
  width:100%;
}
.header-nav--nojs .header-nav__list {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  }
  .page-header__contact {
    display: none;
  }
  .header-nav--nojs .nav-list__item {

    width:302px;
  height: 82px;
  margin:0 auto;

}
.header-nav--nojs .nav-list__item a{
  display: flex;
  height: 100%;
  width:100%;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-size: 24px;
  line-height: 32px;
}

.header-nav--nojs .nav-list__item a:hover {
color:#009FE3;
background-color:#ffffff;
}
.nav-list__item {
  margin-right: 0;
}
.header_logo {
display:none;

}
.page-header__logo {
  display: block;


}
.footer_logo {
  display: block;
}
.page-header__logo img {
  width: 100px;
  height: 37px;
  margin-left: 30px;
}

/*стиль навигации при закрытой кнопке меню*/
.header-nav--closed  {
  background-color: #fff;
}
.header-nav--closed .footer_logo {
  display:none;
}
.header-nav--closed .header_logo {
  display:block;
}
.header-nav--closed .header-nav__toggle {
position: absolute;
display: block;
bottom:20%;
right:30px;
width: 50px;
height: 24px;
background: transparent;
cursor: pointer;
border: none;

}
.header-nav--closed .header-nav__toggle::before {
position: absolute;
content: "";
top:0;
left:0;
width: 50px;
height: 4px;
background-color: rgb(0, 0, 0);
box-shadow: 0 10px 0 0 #000000, 0 20px 0 0 #000000;


}

.header-nav--closed .header-nav__toggle:active::before{
background-color: #009FE3;
box-shadow: 0 10px 0 0 #009FE3, 0 20px 0 0  #009FE3;
}
.header-nav {
max-width: 100%;
display: flex;
justify-content: end;
}
/*стиль навигации при открытой кнопке меню*/
.header-nav--opened {
  width:100%;
}
.header-nav--opened .header-nav__toggle{
position: absolute;
display: block;
top:4%;
right:30px;
width: 50px;
height: 24px;
background: transparent;
cursor: pointer;
border: none;

}

.header-nav--opened .header-nav__toggle::after{
position: absolute;
content:"";
top: 11px;
left:10px;
width: 24px;
height: 3px;
background-color: #ffffff;
transform: rotate(-45deg);

}
.header-nav--opened .header-nav__toggle:active:after{
  background-color: #009FE3;
}
.header-nav--opened .header-nav__toggle::before{
 position: absolute;
content:"";
top: 11px;
left:10px;
width: 24px;
height: 3px;
background-color: #ffffff;
transform: rotate(45deg);
box-shadow: none;
}
.header-nav--opened .header-nav__toggle:active:after{
  background-color: #009FE3;
}
.header-nav--opened .header-nav__toggle:active:before{
  background-color: #009FE3;
}
.header-nav--opened .page-header__contact {
display: none;
}

.header-nav--opened .header-nav__list {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  }
  .page-header__contact {
    display: none;
  }
  .header-nav--opened .nav-list__item {

    width:302px;
  height: 82px;
  margin:0 auto;

}
.header-nav--opened .nav-list__item a{
  display: flex;
  height: 100%;
  width:100%;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-size: 24px;
  line-height: 32px;
}

.header-nav--opened .nav-list__item a:hover {
color:#009FE3;
background-color:#ffffff;
}


}

/*Раздел титульник*/
.main-title {
  display: flex;
  min-height: 500px;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;

  }
.main-title__image {
  width: 40%;
  min-height: 500px;
  background-image: url(img/main-title__image.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-title__container {
  width: 50%;

}

.main-title__container h2 span{
  color: #009FE3;
}
.main-title__container p {
  width:65%;
}
.main-title__container p:first-of-type {
  width: 100%;
  padding-bottom: 10px;
}
.main-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  background: transparent;
  border-radius: 10px;
  top:0;
  color:#ffffff;
  font-size: 16px;
  z-index: 1;
  border:2px solid #fff;
  background-clip: content-box;
  overflow: hidden;

  }
.main-button:hover  {
  transition-property: color;
  transition-duration: 2s;
  color:#000000;
  animation: button 3s 1s linear infinite;
}
.button_blue{
  position: absolute;
  width:100%;
  height: 50px;
  background-color: #009fe3;

  z-index: -2;
  transition-property: width, height;
  transition-duration: 2s;
}
.button_white{
  position: absolute;
  width:0;
  height: 0;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -1;
  transition-property: width, height;
  transition-duration: 2s;
}

.main-button:hover .button_white{
width: 260px;
height: 260px;
}
  @keyframes button {
    0% {border-right-color:#009fe3; }

    20% {border-top-color:#009fe3;

    }
    25% {border-right-color:#ffffff;

    }
    30%{border-bottom-color:#ffffff;

    }

    40% {border-left-color:#009fe3;

    }
    45% {border-top-color:#ffffff;

    }
    50%{border-right-color:#ffffff;

    }
    60% {border-bottom-color:#009fe3;

    }
    70% {border-left-color:#ffffff;

    }
    90%{border-bottom-color:#ffffff;

    }
    100% {border-right-color:#009fe3;

    }
    }



@media (min-width: 768px) and (max-width:1024px) {
  .main-title {
    min-height: 300px;
    margin-top: 50px;
  }
  .main-title__image {
    width: 40%;
    min-height: 300px;
    background-image: url(img/main-title__image-middle.webp);
  }

  .main-title__container {
    width: 50%;

  }

  .main-title__container p {
    width: 100%;
    padding-bottom: 10px;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .main-title {
    min-height: 300px;
    margin-top: 50px;
  }
  .main-title__image {
    position:relative;
    width: 50%;
    min-height: 300px;
    background-image: url(img/main-title__image-middle.webp);
  }
  .main-title__container p{
    width:90%;
  }
  .main-button {
    min-height: 40px;
  }


}

@media (max-width: 450px) {
  .main-title {
    display: flex;
    margin-top: 70px;
    min-height: 648px;
    flex-direction: column-reverse;

    }
  .main-title__image {
    width: 300px;
    min-height: 300px;
    background-image: url(img/main-title__image-small.webp);
  }

  .main-title__container {
    width: 100%;
    margin-top: 50px;
    text-align: center;

  }
  .main-title__container h2{
   margin: 0;
}

  .main-title__container p {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main-button {
    width: 100%;
  }


}

/*Раздел о нас*/
.main-about{
  display: flex;
  min-height: 500px;
  margin-top: 100px;
  justify-content: space-between;
}
.main-about__container {
  width:55%;

}

.main-about__image {
  width: 40%;
 min-height:500px;
  background-image: url(img/main-about__image.webp);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}
.main-about__list {
  height: 80%;
  padding: 0;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.main-about__list li:not(:last-child) {

}

@media (min-width: 1025px) and (max-width:1440px) {
  .main-about {
    margin-top: 100px;
    height: 400px;
    min-height: 400px;
}
.main-about__image {
   min-height:400px;
  }
  .main-about__container {
    width:55%;
  }
  .main-about__list li:not(:last-child) {
  padding-bottom: 16px;
  }
}
@media (min-width: 768px) and (max-width:1024px) {
  .main-about {
    margin-top: 70px;
    min-height: 300px;

    align-items: stretch;

}
  .main-about__image {
    height: 300px;
    min-height: 300px;
    align-self: center;
    background-image: url(img/main-about__image-middle.webp);

  }
  .main-about__container {

  }
  .main-about__container h2 {
    margin: 0;
    margin-bottom: 40px;
  }

  .main-about__list li:not(:last-child) {
  padding-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .main-about{
    display: block;
    min-height: 598px;
    margin-top:120px;

  }
  .main-about__container {
    width:100%;
    margin-top: 50px;
  }

  .main-about__image {
    width: 300px;
    min-height: 300px;
    margin: 0 auto;
    background-image: url(img/main-about__image-small.webp);
  }
  .main-about__container h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .main-about__list {
    text-align: center;
  }
}

/*Услуги*/

.main-services {
  padding-top: 100px;
  min-height: 530px;
}
.services-list__item {
  position: relative;
  width:300px;

}
.main-services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;

}
.services-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow:hidden;
  background: #F2FAFD;
  border-radius: 10px;

}
.services-list__item:hover {

  box-shadow: 0px 3px 8px rgba(60, 60, 59, 0.4);
      transform:scale(1.05);


  }

.services-list__item p {
  text-align: center;
  margin-bottom: 20px;
}



.main-button--services {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height:50px;
  margin-top: auto;
 background:transparent;
 color:#000000;
 overflow:hidden;

}
.main-button--services span{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:-100%;
  left:0;
  width:100%;
  height:100%;
  color:#ffffff;
  border-radius: 10px;
  background-color: #009FE3;

  transition-property: bottom;
  transition-duration: 1s;

}
.services-list__item:hover span{
  bottom:0;
}

@media (min-width: 1441px) and (max-width: 1681px) {
  .services-list__item {
    width:260px;
  }
}

@media (min-width: 1024px) and (max-width:1440px){
  .main-services {
    padding: 0;
    margin-top: 100px;
  }

  .services-list__item {
    max-width:23%;
  }
  .services-list__item:last-child p {
    margin-top: 0;
  }

  .services-list__item:nth-child(3) p {
    margin-top: 0;
  }

  }
  .main-button--services {
    min-height: 45px;
    margin-top: auto;
  }


@media (max-width: 1023px) {
  .main-services {
    padding-top: 0;
    margin-top: 70px;
  }
  .main-services h2{
    padding-bottom: 40px;
}
  .services-list__item {
    width:48%;
    margin-bottom: 30px;
  }
}

@media (min-width: 451px) and (max-width:767px) {
  .main-services {
    padding-top: 0;
    margin-top: 70px;
  }
  .main-services h2{
    padding-bottom: 0px;
}
  .services-list__item {
    width:70%;
      margin:0 auto;
    margin-bottom: 50px;
  }
  .main-services__list {
    width:100%;

  }

}
@media (max-width: 450px) {
  .main-services {
    width:100%;
    padding:0;
    margin-top: 120px;
}

  .main-services h2 {
    padding-bottom:50px;
    text-align: center;
  }
  .main-services__list {
    width:100%;

  }
  .services-list__item {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
  }
  .services-list__item h3 {
     margin: 0;
  }
  .services-list__item p {
  margin-top: 20px;
  margin-bottom: 20px;

}
}
/*Раздел этапы работ*/
.work-stages {
  margin-top: 100px;
}
.work-stages h2 {
  margin-bottom: 78px;
}
.work-stages__container {
  min-height: 307px;
  display: flex;
  justify-content: center;

}

.work-stages__list {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.work-stages_picture {

}
.stages-list__left {
  margin-right: 10px;
  align-items: flex-end;
}
.stages-list__right {
  margin-left: 10px;
}
.work-stages__connection {
  position: relative;
  margin-top: 130px;
  min-height: 240px;
  width:100%;
}
.work-stages__connection > p{
  min-height: 140px;
  border-radius: 10px;
  color:#FFFFFF;
  padding-top: 30px;
  padding-left: 30px;
  background-color: #009FE3;
}
  .work-stages__form--span {
    display: block;
    margin-bottom: 10px;
}
.work-stages__form {
    position: absolute;
    z-index: 3;
    width: 470px;
    min-height: 240px;
    top:-20%;
    right:5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 159, 227, 0.2);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
  }
  .work-stages__form:hover {
    transform: scale(1.05);
  }
  .work-stages__form  p:first-child {
    margin: 0;
    margin-top: 25px;


  }
 .work-stages__form  p:nth-child(2) {
    width: 316px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;;
  }
.stages-form_font-input {
  box-sizing: border-box;
  width: 45%;
  min-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  text-align: center;

}
.stages-form_font-input::placeholder{
font-size: 0.8rem;
}

.work-stages__form button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 45%;
  min-height: 40px;
  background: #009FE3;
  color: #FFFFFF;
  border-radius: 10px;
  border:none;
  font-size: 0.8rem;
  cursor: pointer;
}

@media (min-width: 1024px) and (max-width:1440px) {
  .work-stages {
    margin-top: 120px;
  }
  .work-stages h2 {
    margin-bottom: 40px;
  }
   .work-stages__container {
    min-height: 204px;
    display: flex;
    justify-content: space-between;

  }
  .stages-list__left {
    max-width: 30%;
    align-items: flex-end;
    text-align: right;
  }

  .stages-list__right {
    max-width: 30%;

  }
  .work-stages_picture {
    min-width: 300px;
  }


  .work-stages__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .work-stages__connection {
    position: relative;
    margin-top: 100px;
    min-height: 146px;
    width:100%;
    display: flex;
    align-items: center;
  }
  .work-stages__connection > p{
    margin: 0;
    width: 100%;
    min-height: 100px;
    padding-top: 14px;
    padding-left: 20px;
  }
.work-stages__form {
  width:370px;
  top:-10%;
    min-height: 146px;
    right:2%;
  }
    .work-stages__form  p:first-child {
      margin-top: 20px;
    }
   .work-stages__form  p:nth-child(2) {
      max-width: 290px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  .work-stages__form input[type="tel"]{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 35px;
    margin-right: 9px;

    }

  .work-stages__form button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {


  .work-stages__container {
    min-height: 170px;
  }

 .stages-list__left {
    margin-right: 7px;
    text-align: right;

  }
  .stages-list__right {
    margin-left: 7px;

  }
  .work-stages__connection {
    margin-top: 120px;
    min-height: 130px;
    display: flex;
    width:100%;
    align-items: center;

  }
  .work-stages__connection > p{
    padding-top: 0;
    width:100%;
    min-height: 80px;
    padding-left: 15px;
    padding-bottom: 15px;

  }
  .work-stages__form--span {
    margin-top: 10px;
  }
  .work-stages__form {
    width: 321px;
    min-height: 146px;
    right:3%;
}
  .work-stages__form  p:first-child {
    margin: 0;
    margin-top: 25px;
}
   .work-stages__form  p:nth-child(2) {
      width: 290px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  .work-stages__form input[type="tel"]{
    width: 150px;
    min-height: 35px;
    margin-right: 5px;
  }
  .work-stages__form button {
    width: 150px;
    min-height: 35px;
  }


}


@media (max-width: 767px) {
  .work-stages {
    margin-top: 70px;
  }
  .work-stages h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .work-stages__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .work-stages__list {
  display: block;
  text-align: center;
  }
  .work-stages__list li {
   margin-bottom: 32px;
  }
  .work-stages__list li span {
     position: relative;
  }
  .work-stages__list li span::before{
    position: absolute;
    content: "";
    width:24px;
    height: 24px;
    top:0;
    left: -30px;
    background-image: url(img/icon/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;

  }
  .nomobil_img {
    display: none;
  }
  .mobil_img {
    display: block;
    margin: 0;
    padding: 0;
    width:400px;

    margin-bottom: 50px;

  }
  .work-stages_picture {
    margin: 0;
    padding: 0;
    order: -1;
  }
  .stages-list__left, .stages-list__right{
    margin:0;
    padding-left: 50px;
    text-align: left;
  }

  .work-stages__connection {

    min-height: 200px;
    width:100%;
    display: block;
    margin:0 auto;
    margin-top: 70px;
  }
  .work-stages__connection > p{
    width: 100%;
    min-height: 90px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    .work-stages__form--span {
      margin: 0;
      padding: 0;

    }
  .work-stages__form {
    position: static;
    margin:0 auto;
    min-height: 250px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    }

    .work-stages__form  p:first-child {
      margin: 0;
      margin-top: 25px;
    }
   .work-stages__form  p:nth-child(2) {
      width: 90%;
      margin: 0;
    }
  .work-stages__form input[type="tel"]{
    margin:0 auto;
    width: 90%;
    min-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .stages-form_font-input::placeholder{
    font-size: 1rem;
    }
  .work-stages__form button {
    width: 90%;
    min-height: 50px;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  }



@media(max-width:460px){
  .work-stages__form{
  width: 100%;
  }
}
/*Раздел портфолио*/
.portfolio-figure {
  margin: 0;
  padding: 0;
  width: 100%;
}
.portfolio-figure__list {
  display: flex;
  min-height: 430px;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
}
.portfolio-list__item {

  width:630px;
  margin-bottom: 50px;
}
.portfolio .main-button{
  margin: 0 auto;
}
@media (min-width: 1441px) and (max-width: 1681px) {
  .portfolio-list__item {
    width:535px;
  }
}

@media (min-width: 1024px) and (max-width:1440px) {
  .portfolio {
    margin-top: 120px;
  }

  .portfolio-figure {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .portfolio-figure__list {
    display: flex;
    min-height: 350px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
  }
  .portfolio-list__item {

    width:50%;
    margin-bottom: 30px;
  }
  .main-button__figure {
    min-height: 45px;
    display: block;
    margin: 0 auto;
  }

}
@media (max-width: 1023px) {
  .portfolio {
    margin-top: 70px;

  }
  .portfolio-figure__list {
    margin-top: 40px;

  }
  .portfolio-list__item {

    width:50%;
    margin-bottom: 20px;

}

}
@media (max-width: 767px) {
  .portfolio {
    margin-top: 120px;
  }
  .portfolio-figure__list {
    min-height: 100%;
    justify-content: center;

  }
  .portfolio-list__item {
    width:90%;
    margin-bottom: 30px;
  }



}
@media (max-width: 450px) {
  .portfolio {
    margin-top: 120px;
  }
  .portfolio-figure__list {
    min-height: 100%;
    justify-content: center;

  }
  .portfolio-list__item {
    width:90%;
    margin-bottom: 30px;
  }
  .main-button__figure {
    width:100%;
  }


}
/*footer*/
.page-footer {
  width: 100%;
  min-height: 129px;
  background: #3C3C3B;
  margin-top: 100px;
  padding-top: 100px;
  text-align: center;
}
.page-footer__container {
  margin: 0 auto;
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;

}
.page-socialMedia__footer {
  display: flex;
  padding: 0px;
  gap: 15px;

}
.page-license {
  color:#FFFFFF;
  margin: 0;
  padding: 0;
}


.page-contact__footer li {
  text-align: left;
  margin-bottom: 15px;
}
.page-contact__footer a{
  position: relative;
  color: #FFFFFF;
}
.page-contact__tel::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left:-23px;
  top: 0;
  background-image: url(img/icon/fluent-emoji-high-contrast_telephone-receiver.svg);
  background-repeat: no-repeat;
  background-size: contain;

}
.page-contact__tel:hover::before {
  background-image: url(img/icon/contrast_telephone_hover.svg);

}
.page-contact__mailto::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left:-23px;
  top: 0;
  background-image: url(img/icon/akar-icons_envelope.svg);
  background-repeat: no-repeat;
  background-size: contain;

}

.page-contact__mailto:hover::before{
  top: 2px;
  background-image: url(img/icon/akar-icons_envelope_hover.svg);
}
address {

  color:#fff;

}
@media (max-width: 1024px) {
  .page-footer {
    display: flex;
    flex-direction: column;
    min-height: 254px;
    margin-top: 120px;
    padding: 0;
    justify-content: flex-end;
  }

  .page-socialMedia__footer {
    display: flex;
    padding: 0px;
    gap: 15px;
  }


}
@media (max-width: 768px) {
  .page-footer {
    margin-top: 70px;
  }

}
@media (max-width: 767px) {

  .page-footer {
    width: 100%;
    min-height: 350px;
    padding: 0;


    text-align: center;
  }
  .page-footer__container {
    display: flex;
    width: 75%;
    min-height: 240px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
  }


}
/*стили ссылок при взаимодействии */
a {
  color:black;
}

a:visited  {
  color: #3C3C3B;

 }
a:hover, .nav-list__item--active{
  color: #009FE3;

 }
 a:active {
  color:black;

 }

/*pop-up сайта(всплывающее окно) */

.page-popup {
  display: none;
  position: absolute;
  top:0;
  right:0;
  left: 0;
  margin: auto;
  width: 80%;
  min-height:min-content;
  z-index: 3;
  background-color: #ffffff;
  box-shadow: -1px 0px 17px 13px rgba(0,0,0,0.14);
-webkit-box-shadow: -1px 0px 17px 13px rgba(0,0,0,0.14);
-moz-box-shadow: -1px 0px 17px 13px rgba(0,0,0,0.14);

}
.page-popup_open {
  display: block;

}
.popup-header {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.popup__form {
  width: 70%;
  margin: 0 auto;
  margin-top: 90px;
}
.popup__form p {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #009FE3;
}
.popup__button--close{
  position:relative;
  width:25px;
  height:25px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  }
  .popup__button--close::before{
  position:absolute;
  content:'';
  width:100%;
  height:10%;
  background-color:black;
  top:50%;
  right:0;
  transform:rotate(45deg);
  }
  .popup__button--close::after{
  position:absolute;
  content:'';
  width:100%;
  height:10%;
  background-color:black;
  top:50%;
  right:0;
  transform:rotate(-45deg);
  }
  .popup__form p{
    margin-bottom: 100px;
    text-align: center;
    line-height: 10%;
  }
  .popup__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border:none;

  }
  .popup__info>p {
    width:40%;
    margin: 0;
    padding:0;
    margin-bottom: 80px;
  }
  .popup__info input {
    border:none;
    width:100%;
    min-height: 40px;
    border-bottom: 1px solid black;
    padding-left: 1rem;

    }
    .popup__info input::placeholder {
      color: #000000;
      ont-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
    }
    .popup__info input:hover::placeholder{
      color: #009FE3;
    }


    .popup__info input:focus{
      border-bottom: 1px solid #009FE3;
    }
    .popup__services {
      border:none;
      padding-top: 40px;
      margin-bottom:60px;
    }
    .popup__services label{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

    }
    .popup__services__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  textarea {

    margin-bottom: 60px;
    width: 100%;
    border:none;
    ont-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid black;
    background-color: #009fe30a;

  }
  textarea:focus{
    border:none;

    border-bottom: 1px solid black;

  }
  .label__textarea {
    display: block;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    margin: 0;
    margin-top: 20px;


  }
.email-popup::placeholder {
color:red;

}
.popup__file--input {

  width:0;
  height: 0;
  }
  .popup__services legend{
    ont-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px
  }
  .popup__file--span {
    position: relative;
    color: #009FE3;
  }
  .popup__file--span::before{
    position: absolute;
    content: ' ';
    width: 19px;
    height: 21px;
    top:10%;
    left:-20%;
    background-image: url(img/icon/clip.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .popup__button {
   display: flex;
  justify-content: space-between;
  }


.popup__file {
  display: flex;
  border: 3px solid #009FE3;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width:50%;
  min-height:60px;
  cursor: pointer;
}
.popup_button--sumbit {
  width:30%;
  min-height:60px;
  border: 3px solid #009FE3;
  border-radius: 10px;
  background-color: #009FE3;
  color:#FFFFFF;
  cursor: pointer;
}
.popup_image {
  width:100%;
  height:180px;
  background-image: url(img/popup_image.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top:60px;
}
.popup__dowload {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 180px;
  font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;

text-transform: uppercase;
text-align: center;

}
.popup__dowload span{
  color:#009FE3 ;
  text-decoration-line: underline;

}
.display__none {
  display: none;

}
.popup__services__group label, .popup__checkbox--rights {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.popup__services__group label::before, .popup__checkbox--rights::before {
position: absolute;
content: " ";
width: 1vw;
height: 1vw;
top:-2px;
left:0px;
border: 2px solid #009FE3;
transition-timing-function: ease-in-out;
transition-duration: 0.3s;
}
input[type='checkbox']:checked~label::before, input[type='checkbox']:checked.popup__checkbox--rights::before{
top:0px;
width: 1vw;
height: 0.5vw;

border: 3px solid #009FE3;
border-top: none;
border-right: none;
transform: rotate(-45deg);

}
input[type='checkbox'] {
  display: none;
  }

  @media (max-width: 1290px) {
    .popup__logo {
      width: 100px;
      height: 37px;
    }
    .popup__form p {
      font-size: 32px;

    }
   .popup__dowload {
      font-size: 28px;
      line-height: 36px;
   }
   .popup__file {
    min-height:50px;
  }
  .popup_button--sumbit {

    min-height:50px;

  }

    .popup__services__group li{
      width: 40%;
      margin-bottom: 30px;
    }


  }
@media (max-width: 1024px) {

    .popup__form p {
      font-size: 28px;

    }
   .popup__dowload {
      font-size:24px;
      line-height: 28px;
   }
   .popup__file {
    min-height:45px;
  }
  .popup_button--sumbit {
    min-height:45px;

  }
  .popup__info input::placeholder {

    font-size: 16px;
    line-height: 21px;
  }

    .popup__services__group li{
      width: 40%;
      margin-bottom: 30px;
    }
}
@media (max-width: 768px) {
  .popup__form p {
    font-size: 24px;
    margin-bottom: 50px;

  }
 .popup__dowload {
    font-size:24px;
    line-height: 28px;
    margin-bottom: 40px;
 }
 .popup__file {
  min-height:45px;
}
.popup_button--sumbit {
  min-height:45px;

}
.popup__services__group label::before, .popup__checkbox--rights::before{
  width:1.5vw;
  height: 1.5vw;
  top:3px;
  rigth:0;
}
.popup__checkbox--rights::before {
  top:0;
  rigth:0;
}
.popup__services__group label, .popup__checkbox--rights {
  padding-left: 25px;
}

  .opup__services__group li{
    width: 100%;
    margin-bottom: 30px;
  }
  .popup__dowload {

    margin-bottom: 100px;
 }


}
@media (max-width: 680px) {
  .popup__form {
    margin-top: 50px;

  }
  .popup__form p {
    font-size: 20px;
     line-height: 120%;
  }
  .popup__info  {
    flex-direction: column;
    }
    .popup__info p {
      width: 100%;
    }
  .popup__info input {

    width:100%;
    font-size: 12px;
  }
  .popup__info {

  }
  .popup__services__group {
    display: block;
  }
  .popup__services legend {
    font-size: 20px;
  }
  .popup__services__group li {
    width:100%;

  }
  .popup__services {
    margin-bottom: 0;
  }
  .popup__services__group label::before, .popup__checkbox--rights::before{
    width:3vw;
    height: 3vw;
    top:1px;
    rigth:0;
  }
  .popup__checkbox--rights::before {
    top:0;
    rigth:0;
  }
  input[type='checkbox']:checked~label::before, input[type='checkbox']:checked.popup__checkbox--rights::before {
    top: 0px;
    width: 3vw;
    height: 1.5vw;

}
  .popup__services__group label, .popup__checkbox--rights {
    padding-left: 25px;
  }
  .popup__checkbox--rights {
    font-size: 12px;
    line-height: 100%;
  }
  .popup__button {
    display: block;
  }
  .popup__file, .popup_button--sumbit {
    margin-bottom: 50px;
    width: 100%;
    height: 20px;
  }
  .popup_image {
    margin-top: 10px;
  }
 .popup__dowload {
    font-size:14px;
    line-height: 100%;
    margin-bottom: 30px;
 }




  .opup__services__group li{
    width: 100%;
    margin-bottom: 30px;
  }

}


.cls-1{
  fill:#FFFFFF;
}
.portfolio-list__item:hover {
  transform: scale(1.05);

}
